<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Guess The Number.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDE7288C1D766B5D009B3E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDE728A01D766B5D009B3E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDE728AB1D766B5D009B3E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
